.e56_59 { 
	overflow:hidden;
}
.e56_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1431px;
	position:absolute;
}
.e56_60 { 
	background-color:rgba(231.00000143051147, 231.00000143051147, 231.00000143051147, 0.30000001192092896);
	width:1274px;
	height:1431px;
	position:absolute;
	left:166px;
	top:0px;
}
.e56_61 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 0.8999999761581421);
	width:1146px;
	height:350px;
	position:absolute;
	left:241px;
	top:158px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e56_62 { 
	color:rgba(255, 255, 255, 1);
	width:367px;
	height:144px;
	position:absolute;
	left:326px;
	top:251px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e56_63 { 
	width:169px;
	height:68.2784423828125px;
	position:absolute;
	left:0px;
	top:25px;
}
.e56_64 { 
	transform: rotate(-45deg);
	background-color:rgba(244.0000006556511, 140.00000685453415, 6.000000117346644, 0.800000011920929);
	width:48.2801513671875px;
	height:48.2801513671875px;
	position:absolute;
	left:0px;
	top:34.13922119140625px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e56_65 { 
	color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 1);
	width:135px;
	height:36px;
	position:absolute;
	left:34px;
	top:16px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e56_66 { 
	width:190px;
	height:70px;
	position:absolute;
	left:1196px;
	top:45px;
}
.e56_67 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(/image/ellipse_370.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e56_68 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:27px;
	position:absolute;
	left:79px;
	top:22px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e56_69 { 
	width:50px;
	height:50px;
	position:absolute;
	left:52px;
	top:164px;
}
.e56_70 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:26.953125px;
	top:0px;
}
.e56_71 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_72 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_73 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_74 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_75 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_76 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:26.953125px;
}
.e56_77 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_78 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_79 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:26.953125px;
	top:26.953125px;
}
.e56_80 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_81 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_82 { 
	width:40px;
	height:40px;
	position:absolute;
	left:50px;
	top:1356px;
}
.e56_83 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:-3.552713678800501e-14px;
	top:7.815970093361102e-14px;
}
.e56_84 { 
	background-color:rgba(0, 0, 0, 1);
	width:17.40625px;
	height:17.40625px;
	position:absolute;
	left:11.296875px;
	top:11.296875px;
}
.e56_85 { 
	width:50px;
	height:50px;
	position:absolute;
	left:52px;
	top:249px;
}
.e56_86 { 
	width:47.849456787109375px;
	height:49.99995040893555px;
	position:absolute;
	left:1.075215220451355px;
	top:0.0004999637603759766px;
}
.e56_87 { 
	width:47.849456787109375px;
	height:49.99995040893555px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_88 { 
	background-color:rgba(0, 0, 0, 1);
	width:47.849456787109375px;
	height:49.99995040893555px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_89 { 
	width:50px;
	height:50px;
	position:absolute;
	left:52px;
	top:334px;
}
.e56_90 { 
	width:48.4375px;
	height:42.18719482421875px;
	position:absolute;
	left:0.78125px;
	top:3.906554698944092px;
}
.e56_91 { 
	background-color:rgba(0, 0, 0, 1);
	width:48.4375px;
	height:42.18719482421875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_92 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:21.874692916870117px;
}
.e56_93 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:24.21844482421875px;
}
.e56_94 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:26.56219482421875px;
}
.e56_95 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:31.24969482421875px;
}
.e56_96 { 
	background-color:rgba(0, 0, 0, 1);
	width:8.49609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:33.59344482421875px;
}
.e56_97 { 
	background-color:rgba(0, 0, 0, 1);
	width:11.62109375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:28.90594482421875px;
}
.e56_98 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.34375px;
	height:1.5625px;
	position:absolute;
	left:19.53125px;
	top:28.90594482421875px;
}
.e56_99 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:19.530942916870117px;
}
.e56_100 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:21.874692916870117px;
}
.e56_101 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:24.21844482421875px;
}
.e56_102 { 
	background-color:rgba(0, 0, 0, 1);
	width:6.25px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:28.90594482421875px;
}
.e56_103 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:26.56219482421875px;
}
.e56_104 { 
	background-color:rgba(0, 0, 0, 1);
	width:5.46875px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:33.59344482421875px;
}
.e56_105 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:31.24969482421875px;
}
.e56_106 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.6875px;
	height:13.281248092651367px;
	position:absolute;
	left:36.71875px;
	top:19.530946731567383px;
}
.e56_107 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.34375px;
	height:1.5625px;
	position:absolute;
	left:33.59375px;
	top:28.90594482421875px;
}
.e56_108 { 
	background-color:rgba(0, 0, 0, 1);
	width:1.5625px;
	height:1.5624990463256836px;
	position:absolute;
	left:23.4375px;
	top:7.812201023101807px;
}
.e56_109 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.687587738037109px;
	height:2.159412384033203px;
	position:absolute;
	left:21.87497329711914px;
	top:5.468342304229736px;
}
.e56_110 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.812507629394531px;
	height:2.7603578567504883px;
	position:absolute;
	left:20.307722091674805px;
	top:3.124739170074463px;
}
.e56_111 { 
	width:50px;
	height:50px;
	position:absolute;
	left:50px;
	top:419px;
}
.e56_112 { 
	width:48.4375px;
	height:38.281864166259766px;
	position:absolute;
	left:0.78125px;
	top:5.46875px;
}
.e56_113 { 
	background-color:rgba(0, 0, 0, 1);
	width:48.4375px;
	height:38.281864166259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_114 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375030517578125px;
	height:12.500064849853516px;
	position:absolute;
	left:32.0311279296875px;
	top:12.49995231628418px;
}
.e56_115 { 
	background-color:rgba(0, 0, 0, 1);
	width:10.156280517578125px;
	height:12.500032424926758px;
	position:absolute;
	left:9.374992370605469px;
	top:5.46875px;
}
.e56_227 { 
	width:371px;
	height:267px;
	position:absolute;
	left:828px;
	top:200px;
}
.e56_228 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:239.9146728515625px;
	height:266.6988525390625px;
	position:absolute;
	left:131.085205078125px;
	top:0.0000034339936973992735px;
}
.e56_229 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:238.89593505859375px;
	height:1.0198802947998047px;
	position:absolute;
	left:131.5946044921875px;
	top:21.208587646484375px;
}
.e56_230 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:8.149978637695312px;
	height:8.159046173095703px;
	position:absolute;
	left:139.23519897460938px;
	top:7.139166355133057px;
}
.e56_231 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:8.14996337890625px;
	height:8.159046173095703px;
	position:absolute;
	left:151.9695281982422px;
	top:7.139166355133057px;
}
.e56_232 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:8.14996337890625px;
	height:8.159046173095703px;
	position:absolute;
	left:164.703857421875px;
	top:7.139166355133057px;
}
.e56_233 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:172.16806030273438px;
	height:13.25844955444336px;
	position:absolute;
	left:164.95849609375px;
	top:45.38469314575195px;
}
.e56_234 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:80.48094177246094px;
	height:8.159049987792969px;
	position:absolute;
	left:214.8030548095703px;
	top:102.7991714477539px;
}
.e56_235 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:122.24949645996094px;
	height:8.159049987792969px;
	position:absolute;
	left:214.8030548095703px;
	top:116.56756591796875px;
}
.e56_236 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:31.581130981445312px;
	height:23.457260131835938px;
	position:absolute;
	left:165.03280639648438px;
	top:102.03426361083984px;
}
.e56_237 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:80.48094177246094px;
	height:8.1590576171875px;
	position:absolute;
	left:214.8030548095703px;
	top:151.24351501464844px;
}
.e56_238 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:122.24949645996094px;
	height:8.159042358398438px;
	position:absolute;
	left:214.8030548095703px;
	top:165.0119171142578px;
}
.e56_239 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:31.581130981445312px;
	height:23.457260131835938px;
	position:absolute;
	left:165.03280639648438px;
	top:150.47860717773438px;
}
.e56_240 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:80.48094177246094px;
	height:8.1590576171875px;
	position:absolute;
	left:214.8030548095703px;
	top:199.6878662109375px;
}
.e56_241 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:122.24949645996094px;
	height:8.159042358398438px;
	position:absolute;
	left:214.8030548095703px;
	top:213.4562530517578px;
}
.e56_242 { 
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	width:31.581130981445312px;
	height:23.457244873046875px;
	position:absolute;
	left:165.03280639648438px;
	top:198.92295837402344px;
}
.e56_243 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:16.267196655273438px;
	height:15.031669616699219px;
	position:absolute;
	left:172.689697265625px;
	top:106.24689483642578px;
}
.e56_244 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:16.267196655273438px;
	height:15.031661987304688px;
	position:absolute;
	left:172.689697265625px;
	top:154.6912384033203px;
}
.e56_245 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:31.581111907958984px;
	height:23.457260131835938px;
	position:absolute;
	left:61.547969818115234px;
	top:138.1160888671875px;
}
.e56_246 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:16.267234802246094px;
	height:15.031661987304688px;
	position:absolute;
	left:69.20488739013672px;
	top:142.32872009277344px;
}
.e56_247 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:10.863391876220703px;
	height:23.867263793945312px;
	position:absolute;
	left:59.47450637817383px;
	top:237.2762908935547px;
}
.e56_248 { 
	transform: rotate(166.60504000274778deg);
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:18.30272102355957px;
	height:7.078566074371338px;
	position:absolute;
	left:82.51446533203125px;
	top:262.4588317871094px;
}
.e56_249 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:24.440853118896484px;
	height:47.686187744140625px;
	position:absolute;
	left:46.807735443115234px;
	top:200.60992431640625px;
}
.e56_250 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:8.594648361206055px;
	height:22.486846923828125px;
	position:absolute;
	left:29.58746910095215px;
	top:238.7984619140625px;
}
.e56_251 { 
	transform: rotate(179.99482423949195deg);
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:18.3016300201416px;
	height:7.07897424697876px;
	position:absolute;
	left:46.64373779296875px;
	top:266.69720458984375px;
}
.e56_252 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:17.055938720703125px;
	height:46.75816345214844px;
	position:absolute;
	left:22.576671600341797px;
	top:206.4470977783203px;
}
.e56_253 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:25.021451950073242px;
	height:25.04931640625px;
	position:absolute;
	left:18.594087600708008px;
	top:88.11101531982422px;
}
.e56_254 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:57.45374298095703px;
	height:96.92829132080078px;
	position:absolute;
	left:7.649170398712158px;
	top:116.68041229248047px;
}
.e56_255 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:21.89107894897461px;
	height:14.04296875px;
	position:absolute;
	left:45.320560455322266px;
	top:152.47592163085938px;
}
.e56_256 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:32.8653564453125px;
	height:39.825889587402344px;
	position:absolute;
	left:26.313339233398438px;
	top:123.4047622680664px;
}
.e56_257 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:34.68864440917969px;
	height:36.47637939453125px;
	position:absolute;
	left:10.783773422241211px;
	top:80.69629669189453px;
}
.e56_258 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:98.818359375px;
	height:1.019866943359375px;
	position:absolute;
	left:-0.000003032226686627837px;
	top:265.9801330566406px;
}
.e56_259 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:42px;
	position:absolute;
	left:738px;
	top:571px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e56_260 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 1);
	width:1123px;
	height:406px;
	position:absolute;
	left:242px;
	top:625px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e56_261 { 
	background-color:rgba(255, 255, 255, 1);
	width:1049px;
	height:52px;
	position:absolute;
	left:279px;
	top:655px;
}
.e56_262 { 
	background-color:rgba(255, 255, 255, 1);
	width:1049px;
	height:52px;
	position:absolute;
	left:279px;
	top:729px;
}
.e56_263 { 
	width:160px;
	height:41.05263137817383px;
	position:absolute;
	left:1161px;
	top:944px;
}
.e56_264 { 
	background-color:rgba(255, 255, 255, 1);
	width:160px;
	height:41.05263137817383px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
}
.e56_265 { 
	color:rgba(0, 0, 0, 1);
	width:91.42857360839844px;
	height:22.105262756347656px;
	position:absolute;
	left:55px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e56_266 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:84px;
	position:absolute;
	left:1286px;
	top:537px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e56_267 { 
	width:1049px;
	height:52px;
	position:absolute;
	left:279px;
	top:799px;
}
.e56_268 { 
	background-color:rgba(255, 255, 255, 1);
	width:1049px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_269 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:21px;
	position:absolute;
	left:487px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e56_270 { 
	width:1049px;
	height:52px;
	position:absolute;
	left:279px;
	top:880px;
}
.e56_271 { 
	background-color:rgba(255, 255, 255, 1);
	width:1049px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}
.e56_272 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:21px;
	position:absolute;
	left:487px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
