.e57_309 { 
	overflow:hidden;
}
.e57_309 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1431px;
	position:absolute;
}
.e57_310 { 
	background-color:rgba(231.00000143051147, 231.00000143051147, 231.00000143051147, 0.30000001192092896);
	width:1274px;
	height:1431px;
	position:absolute;
	left:166px;
	top:0px;
}
.e57_311 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 0.8999999761581421);
	width:1146px;
	height:350px;
	position:absolute;
	left:241px;
	top:158px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e57_312 { 
	color:rgba(255, 255, 255, 1);
	width:462px;
	height:144px;
	position:absolute;
	left:334px;
	top:261px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e57_313 { 
	width:169px;
	height:68.2784423828125px;
	position:absolute;
	left:0px;
	top:25px;
}
.e57_314 { 
	transform: rotate(-45deg);
	background-color:rgba(244.0000006556511, 140.00000685453415, 6.000000117346644, 0.800000011920929);
	width:48.2801513671875px;
	height:48.2801513671875px;
	position:absolute;
	left:0px;
	top:34.13922119140625px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e57_315 { 
	color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 1);
	width:135px;
	height:36px;
	position:absolute;
	left:34px;
	top:16px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e57_316 { 
	width:190px;
	height:70px;
	position:absolute;
	left:1196px;
	top:45px;
}
.e57_317 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(/image/ellipse_370.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e57_318 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:27px;
	position:absolute;
	left:79px;
	top:22px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e57_319 { 
	width:50px;
	height:50px;
	position:absolute;
	left:52px;
	top:164px;
}
.e57_320 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:26.953125px;
	top:0px;
}
.e57_321 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_322 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_323 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_324 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_325 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_326 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:26.953125px;
}
.e57_327 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_328 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_329 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:26.953125px;
	top:26.953125px;
}
.e57_330 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_331 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_332 { 
	width:40px;
	height:40px;
	position:absolute;
	left:50px;
	top:1356px;
}
.e57_333 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:-3.552713678800501e-14px;
	top:7.815970093361102e-14px;
}
.e57_334 { 
	background-color:rgba(0, 0, 0, 1);
	width:17.40625px;
	height:17.40625px;
	position:absolute;
	left:11.296875px;
	top:11.296875px;
}
.e57_335 { 
	width:50px;
	height:50px;
	position:absolute;
	left:52px;
	top:249px;
}
.e57_336 { 
	width:47.849456787109375px;
	height:49.99995040893555px;
	position:absolute;
	left:1.075215220451355px;
	top:0.0004999637603759766px;
}
.e57_337 { 
	width:47.849456787109375px;
	height:49.99995040893555px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_338 { 
	background-color:rgba(0, 0, 0, 1);
	width:47.849456787109375px;
	height:49.99995040893555px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_339 { 
	width:50px;
	height:50px;
	position:absolute;
	left:52px;
	top:334px;
}
.e57_340 { 
	width:48.4375px;
	height:42.18719482421875px;
	position:absolute;
	left:0.78125px;
	top:3.906554698944092px;
}
.e57_341 { 
	background-color:rgba(0, 0, 0, 1);
	width:48.4375px;
	height:42.18719482421875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_342 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:21.874692916870117px;
}
.e57_343 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:24.21844482421875px;
}
.e57_344 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:26.56219482421875px;
}
.e57_345 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:31.24969482421875px;
}
.e57_346 { 
	background-color:rgba(0, 0, 0, 1);
	width:8.49609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:33.59344482421875px;
}
.e57_347 { 
	background-color:rgba(0, 0, 0, 1);
	width:11.62109375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:28.90594482421875px;
}
.e57_348 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.34375px;
	height:1.5625px;
	position:absolute;
	left:19.53125px;
	top:28.90594482421875px;
}
.e57_349 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:19.530942916870117px;
}
.e57_350 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:21.874692916870117px;
}
.e57_351 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:24.21844482421875px;
}
.e57_352 { 
	background-color:rgba(0, 0, 0, 1);
	width:6.25px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:28.90594482421875px;
}
.e57_353 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:26.56219482421875px;
}
.e57_354 { 
	background-color:rgba(0, 0, 0, 1);
	width:5.46875px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:33.59344482421875px;
}
.e57_355 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:31.24969482421875px;
}
.e57_356 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.6875px;
	height:13.281248092651367px;
	position:absolute;
	left:36.71875px;
	top:19.530946731567383px;
}
.e57_357 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.34375px;
	height:1.5625px;
	position:absolute;
	left:33.59375px;
	top:28.90594482421875px;
}
.e57_358 { 
	background-color:rgba(0, 0, 0, 1);
	width:1.5625px;
	height:1.5624990463256836px;
	position:absolute;
	left:23.4375px;
	top:7.812201023101807px;
}
.e57_359 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.687587738037109px;
	height:2.159412384033203px;
	position:absolute;
	left:21.87497329711914px;
	top:5.468342304229736px;
}
.e57_360 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.812507629394531px;
	height:2.7603578567504883px;
	position:absolute;
	left:20.307722091674805px;
	top:3.124739170074463px;
}
.e57_361 { 
	width:50px;
	height:50px;
	position:absolute;
	left:50px;
	top:419px;
}
.e57_362 { 
	width:48.4375px;
	height:38.281864166259766px;
	position:absolute;
	left:0.78125px;
	top:5.46875px;
}
.e57_363 { 
	background-color:rgba(0, 0, 0, 1);
	width:48.4375px;
	height:38.281864166259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_364 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375030517578125px;
	height:12.500064849853516px;
	position:absolute;
	left:32.0311279296875px;
	top:12.49995231628418px;
}
.e57_365 { 
	background-color:rgba(0, 0, 0, 1);
	width:10.156280517578125px;
	height:12.500032424926758px;
	position:absolute;
	left:9.374992370605469px;
	top:5.46875px;
}
.e57_412 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:42px;
	position:absolute;
	left:737px;
	top:578px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e57_413 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:42px;
	position:absolute;
	left:737px;
	top:834px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e57_414 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 1);
	width:1123px;
	height:165px;
	position:absolute;
	left:241px;
	top:632px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e57_415 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 1);
	width:1123px;
	height:165px;
	position:absolute;
	left:241px;
	top:888px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e57_416 { 
	background-color:rgba(255, 255, 255, 1);
	width:1049px;
	height:52px;
	position:absolute;
	left:271px;
	top:657px;
}
.e57_417 { 
	background-color:rgba(255, 255, 255, 1);
	width:1049px;
	height:52px;
	position:absolute;
	left:271px;
	top:913px;
}
.e57_520 { 
	width:418px;
	height:260px;
	position:absolute;
	left:869px;
	top:231px;
}
.e57_521 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:82.36017608642578px;
	height:76.96434020996094px;
	position:absolute;
	left:33.652549743652344px;
	top:144.05982971191406px;
}
.e57_522 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:185.97454833984375px;
	height:0.8846588134765625px;
	position:absolute;
	left:101.84314727783203px;
	top:246.6789093017578px;
}
.e57_523 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:149.66525268554688px;
	height:130.4854736328125px;
	position:absolute;
	left:0px;
	top:117.29924774169922px;
}
.e57_524 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:119.55508422851562px;
	height:119.42739868164062px;
	position:absolute;
	left:298.4449157714844px;
	top:69.30714416503906px;
}
.e57_525 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:57.563568115234375px;
	height:57.502098083496094px;
	position:absolute;
	left:327.66943359375px;
	top:100.26978302001953px;
}
.e57_526 { 
	transform: rotate(150.02651146402243deg);
	background-color:rgba(255, 101.00000157952309, 132.0000073313713, 1);
	width:16.143878936767578px;
	height:16.135251998901367px;
	position:absolute;
	left:281.17620849609375px;
	top:65.05042266845703px;
}
.e57_527 { 
	transform: rotate(150.02650236197277deg);
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:16.14388656616211px;
	height:16.135255813598633px;
	position:absolute;
	left:75.27571105957031px;
	top:72.5699462890625px;
}
.e57_528 { 
	transform: rotate(150.02652056607255deg);
	background-color:rgba(208.0000028014183, 205.00000298023224, 225.00000178813934, 1);
	width:16.14389991760254px;
	height:16.135271072387695px;
	position:absolute;
	left:253.28001403808594px;
	top:217.65206909179688px;
}
.e57_529 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:15.055076599121094px;
	height:15.03900146484375px;
	position:absolute;
	left:67.30509948730469px;
	top:175.02249145507812px;
}
.e57_530 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:14.1695556640625px;
	height:14.154365539550781px;
	position:absolute;
	left:349.36651611328125px;
	top:121.94365692138672px;
}
.e57_531 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:34.81047058105469px;
	height:36.544334411621094px;
	position:absolute;
	left:186.47926330566406px;
	top:13.778387069702148px;
}
.e57_532 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:73.05291748046875px;
	height:143.19378662109375px;
	position:absolute;
	left:164.17532348632812px;
	top:96.18940734863281px;
}
.e57_533 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:24.790985107421875px;
	height:29.851409912109375px;
	position:absolute;
	left:162.30641174316406px;
	top:230.14852905273438px;
}
.e57_534 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:25.815017700195312px;
	height:28.793014526367188px;
	position:absolute;
	left:205.2858123779297px;
	top:230.60255432128906px;
}
.e57_535 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:28.37078857421875px;
	height:28.340436935424805px;
	position:absolute;
	left:190.3064727783203px;
	top:5.947450637817383px;
}
.e57_536 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:15.67852783203125px;
	height:22.37405776977539px;
	position:absolute;
	left:193.29275512695312px;
	top:28.321548461914062px;
}
.e57_537 { 
	background-color:rgba(208.0000028014183, 205.00000298023224, 225.00000178813934, 1);
	width:50.070068359375px;
	height:66.78723907470703px;
	position:absolute;
	left:181.34707641601562px;
	top:35.77948760986328px;
}
.e57_538 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:31.270156860351562px;
	height:14.144960403442383px;
	position:absolute;
	left:187.97079467773438px;
	top:4.963144302368164px;
}
.e57_539 { 
	transform: rotate(150.0265176077238deg);
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:34.6300163269043px;
	height:34.61153793334961px;
	position:absolute;
	left:250.41180419921875px;
	top:142.29896545410156px;
}
.e57_540 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:29.013687133789062px;
	height:30.926284790039062px;
	position:absolute;
	left:194.78602600097656px;
	top:100.66421508789062px;
}
.e57_541 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:9.87860107421875px;
	height:24.358726501464844px;
	position:absolute;
	left:231.1964874267578px;
	top:100.66421508789062px;
}
.e57_542 { 
	background-color:rgba(208.0000028014183, 205.00000298023224, 225.00000178813934, 1);
	width:32.675933837890625px;
	height:65.63050842285156px;
	position:absolute;
	left:174.80230712890625px;
	top:42.49172592163086px;
}
.e57_543 { 
	background-color:rgba(208.0000028014183, 205.00000298023224, 225.00000178813934, 1);
	width:26.877517700195312px;
	height:58.17247772216797px;
	position:absolute;
	left:216.4373321533203px;
	top:45.47496032714844px;
}
.e57_544 { 
	background-color:rgba(47.0000009983778, 46.000001057982445, 65.0000037252903, 1);
	width:54.83805847167969px;
	height:51.71586227416992px;
	position:absolute;
	left:179.89089965820312px;
	top:-0.0003273641923442483px;
}
.e57_545 { 
	background-color:rgba(255, 184.00000423192978, 184.00000423192978, 1);
	width:3.128936767578125px;
	height:5.000938415527344px;
	position:absolute;
	left:189.70932006835938px;
	top:19.411540985107422px;
}
