.e53_0 { 
	overflow:hidden;
}
.e53_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e53_1 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 0.44999998807907104);
	width:1440px;
	height:1011px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(/image/rectangle_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e56_8 { 
	width:593px;
	height:655px;
	position:absolute;
	left:127px;
	top:194px;
}
.e53_4 { 
	color:rgba(255, 255, 255, 1);
	width:154px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e53_12 { 
	color:rgba(255, 255, 255, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:0px;
	top:62px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e53_14 { 
	color:rgba(255, 255, 255, 1);
	width:593px;
	height:53px;
	position:absolute;
	left:0px;
	top:100px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e53_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:535px;
	height:64px;
	position:absolute;
	left:0px;
	top:199px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e53_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:535px;
	height:64px;
	position:absolute;
	left:0px;
	top:299px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e53_18 { 
	background-color:rgba(255, 255, 255, 1);
	width:535px;
	height:64px;
	position:absolute;
	left:0px;
	top:399px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e53_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:535px;
	height:64px;
	position:absolute;
	left:0px;
	top:499px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e56_12 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 1);
	width:207px;
	height:64px;
	position:absolute;
	left:0px;
	top:591px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e56_10 { 
	color:rgba(255, 255, 255, 1);
	width:167px;
	height:28px;
	position:absolute;
	left:19px;
	top:18px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e53_15 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:21px;
	position:absolute;
	left:0px;
	top:173px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e53_17 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:21px;
	position:absolute;
	left:0px;
	top:273px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e53_19 { 
	color:rgba(255, 255, 255, 1);
	width:45px;
	height:21px;
	position:absolute;
	left:0px;
	top:373px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e53_21 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:21px;
	position:absolute;
	left:0px;
	top:473px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
