.e57_418 { 
	overflow:hidden;
}
.e57_418 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1431px;
	position:absolute;
}
.e57_419 { 
	background-color:rgba(231.00000143051147, 231.00000143051147, 231.00000143051147, 0.30000001192092896);
	width:1274px;
	height:1431px;
	position:absolute;
	left:166px;
	top:0px;
}
.e57_420 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 0.8999999761581421);
	width:1146px;
	height:350px;
	position:absolute;
	left:241px;
	top:158px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e57_421 { 
	color:rgba(255, 255, 255, 1);
	width:434px;
	height:216px;
	position:absolute;
	left:321px;
	top:218px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e57_422 { 
	width:169px;
	height:68.2784423828125px;
	position:absolute;
	left:0px;
	top:25px;
}
.e57_423 { 
	transform: rotate(-45deg);
	background-color:rgba(244.0000006556511, 140.00000685453415, 6.000000117346644, 0.800000011920929);
	width:48.2801513671875px;
	height:48.2801513671875px;
	position:absolute;
	left:0px;
	top:34.13922119140625px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e57_424 { 
	color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 1);
	width:135px;
	height:36px;
	position:absolute;
	left:34px;
	top:16px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e57_425 { 
	width:190px;
	height:70px;
	position:absolute;
	left:1196px;
	top:45px;
}
.e57_426 { 
	border-radius:500px;
	width:70px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(/image/ellipse_370.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e57_427 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:27px;
	position:absolute;
	left:79px;
	top:22px;
	font-family:Poppins;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e57_428 { 
	width:50px;
	height:50px;
	position:absolute;
	left:52px;
	top:164px;
}
.e57_429 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:26.953125px;
	top:0px;
}
.e57_430 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_431 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_432 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_433 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_434 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_435 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:26.953125px;
}
.e57_436 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_437 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_438 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:26.953125px;
	top:26.953125px;
}
.e57_439 { 
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_440 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.046875px;
	height:23.046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_441 { 
	width:40px;
	height:40px;
	position:absolute;
	left:50px;
	top:1356px;
}
.e57_442 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:-3.552713678800501e-14px;
	top:7.815970093361102e-14px;
}
.e57_443 { 
	background-color:rgba(0, 0, 0, 1);
	width:17.40625px;
	height:17.40625px;
	position:absolute;
	left:11.296875px;
	top:11.296875px;
}
.e57_444 { 
	width:50px;
	height:50px;
	position:absolute;
	left:52px;
	top:249px;
}
.e57_445 { 
	width:47.849456787109375px;
	height:49.99995040893555px;
	position:absolute;
	left:1.075215220451355px;
	top:0.0004999637603759766px;
}
.e57_446 { 
	width:47.849456787109375px;
	height:49.99995040893555px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_447 { 
	background-color:rgba(0, 0, 0, 1);
	width:47.849456787109375px;
	height:49.99995040893555px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_448 { 
	width:50px;
	height:50px;
	position:absolute;
	left:52px;
	top:334px;
}
.e57_449 { 
	width:48.4375px;
	height:42.18719482421875px;
	position:absolute;
	left:0.78125px;
	top:3.906554698944092px;
}
.e57_450 { 
	background-color:rgba(0, 0, 0, 1);
	width:48.4375px;
	height:42.18719482421875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_451 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:21.874692916870117px;
}
.e57_452 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:24.21844482421875px;
}
.e57_453 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:26.56219482421875px;
}
.e57_454 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.74609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:31.24969482421875px;
}
.e57_455 { 
	background-color:rgba(0, 0, 0, 1);
	width:8.49609375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:33.59344482421875px;
}
.e57_456 { 
	background-color:rgba(0, 0, 0, 1);
	width:11.62109375px;
	height:1.5625px;
	position:absolute;
	left:7.12890625px;
	top:28.90594482421875px;
}
.e57_457 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.34375px;
	height:1.5625px;
	position:absolute;
	left:19.53125px;
	top:28.90594482421875px;
}
.e57_458 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:19.530942916870117px;
}
.e57_459 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:21.874692916870117px;
}
.e57_460 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:24.21844482421875px;
}
.e57_461 { 
	background-color:rgba(0, 0, 0, 1);
	width:6.25px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:28.90594482421875px;
}
.e57_462 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:26.56219482421875px;
}
.e57_463 { 
	background-color:rgba(0, 0, 0, 1);
	width:5.46875px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:33.59344482421875px;
}
.e57_464 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375px;
	height:1.5625px;
	position:absolute;
	left:26.5625px;
	top:31.24969482421875px;
}
.e57_465 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.6875px;
	height:13.281248092651367px;
	position:absolute;
	left:36.71875px;
	top:19.530946731567383px;
}
.e57_466 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.34375px;
	height:1.5625px;
	position:absolute;
	left:33.59375px;
	top:28.90594482421875px;
}
.e57_467 { 
	background-color:rgba(0, 0, 0, 1);
	width:1.5625px;
	height:1.5624990463256836px;
	position:absolute;
	left:23.4375px;
	top:7.812201023101807px;
}
.e57_468 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.687587738037109px;
	height:2.159412384033203px;
	position:absolute;
	left:21.87497329711914px;
	top:5.468342304229736px;
}
.e57_469 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.812507629394531px;
	height:2.7603578567504883px;
	position:absolute;
	left:20.307722091674805px;
	top:3.124739170074463px;
}
.e57_470 { 
	width:50px;
	height:50px;
	position:absolute;
	left:50px;
	top:419px;
}
.e57_471 { 
	width:48.4375px;
	height:38.281864166259766px;
	position:absolute;
	left:0.78125px;
	top:5.46875px;
}
.e57_472 { 
	background-color:rgba(0, 0, 0, 1);
	width:48.4375px;
	height:38.281864166259766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_473 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.375030517578125px;
	height:12.500064849853516px;
	position:absolute;
	left:32.0311279296875px;
	top:12.49995231628418px;
}
.e57_474 { 
	background-color:rgba(0, 0, 0, 1);
	width:10.156280517578125px;
	height:12.500032424926758px;
	position:absolute;
	left:9.374992370605469px;
	top:5.46875px;
}
.e58_0 { 
	width:422px;
	height:294px;
	position:absolute;
	left:859px;
	top:179px;
}
.e58_1 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	opacity:0.10000000149011612;
	width:418.8092041015625px;
	height:280.4518737792969px;
	position:absolute;
	left:3.1875319480895996px;
	top:0.019960803911089897px;
}
.e58_2 { 
	opacity:0.10000000149011612;
	width:36.04532241821289px;
	height:22.495208740234375px;
	position:absolute;
	left:0.0010690434137359262px;
	top:132.6842041015625px;
}
.e58_3 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	opacity:0.10000000149011612;
	width:36.04532241821289px;
	height:22.495208740234375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_4 { 
	opacity:0.10000000149011612;
	width:30.130844116210938px;
	height:18.307846069335938px;
	position:absolute;
	left:4.555027961730957px;
	top:96.07115173339844px;
}
.e58_5 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	opacity:0.10000000149011612;
	width:30.130844116210938px;
	height:18.307846069335938px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_6 { 
	background-image:linear-gradient(0deg, rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 0.25) 0%,rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 0.11999999731779099) 54.00000214576721%,rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 0.10000000149011612) 100%) ;
	width:175.60340881347656px;
	height:212.35556030273438px;
	position:absolute;
	left:212.7499542236328px;
	top:81.6392822265625px;
}
.e58_7 { 
	background-color:rgba(251.00000023841858, 190.0000038743019, 190.0000038743019, 1);
	width:19.079071044921875px;
	height:10.475006103515625px;
	position:absolute;
	left:251.451171875px;
	top:265.5979309082031px;
}
.e58_8 { 
	background-color:rgba(70.00000342726707, 67.00000360608101, 83.00000265240669, 1);
	width:118.64768981933594px;
	height:33.205810546875px;
	position:absolute;
	left:230.27174377441406px;
	top:229.18643188476562px;
}
.e58_9 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:118.64768981933594px;
	height:33.205810546875px;
	position:absolute;
	left:230.27174377441406px;
	top:229.18643188476562px;
}
.e58_10 { 
	background-color:rgba(251.00000023841858, 190.0000038743019, 190.0000038743019, 1);
	width:42.595550537109375px;
	height:43.93040466308594px;
	position:absolute;
	left:259.95556640625px;
	top:124.3349609375px;
}
.e58_11 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:24.784515380859375px;
	height:13.946670532226562px;
	position:absolute;
	left:264.0520935058594px;
	top:124.3349609375px;
}
.e58_12 { 
	background-color:rgba(251.00000023841858, 190.0000038743019, 190.0000038743019, 1);
	width:38.166412353515625px;
	height:38.186676025390625px;
	position:absolute;
	left:255.9927978515625px;
	top:99.26870727539062px;
}
.e58_13 { 
	background-color:rgba(248.0000004172325, 109.00000110268593, 112.000000923872, 1);
	width:100.95426940917969px;
	height:93.10557556152344px;
	position:absolute;
	left:235.0883331298828px;
	top:140.16934204101562px;
}
.e58_14 { 
	background-color:rgba(70.00000342726707, 67.00000360608101, 83.00000265240669, 1);
	width:104.33062744140625px;
	height:50.556732177734375px;
	position:absolute;
	left:263.2330627441406px;
	top:230.02813720703125px;
}
.e58_15 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.05000000074505806;
	width:104.33062744140625px;
	height:50.556732177734375px;
	position:absolute;
	left:263.2330627441406px;
	top:230.02813720703125px;
}
.e58_16 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:46.32093811035156px;
	height:26.679351806640625px;
	position:absolute;
	left:212.73475646972656px;
	top:257.2203674316406px;
}
.e58_17 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:14.960952758789062px;
	height:26.22015380859375px;
	position:absolute;
	left:212.73475646972656px;
	top:257.2203674316406px;
}
.e58_18 { 
	background-color:rgba(251.00000023841858, 190.0000038743019, 190.0000038743019, 1);
	width:24.20001220703125px;
	height:19.375152587890625px;
	position:absolute;
	left:320.53521728515625px;
	top:267.41851806640625px;
}
.e58_19 { 
	background-color:rgba(70.00000342726707, 67.00000360608101, 83.00000265240669, 1);
	width:109.68959045410156px;
	height:61.467559814453125px;
	position:absolute;
	left:218.7356719970703px;
	top:225.37533569335938px;
}
.e58_20 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:53.07666015625px;
	height:29.019012451171875px;
	position:absolute;
	left:335.2147521972656px;
	top:264.9802551269531px;
}
.e58_21 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:19.80859375px;
	height:28.687713623046875px;
	position:absolute;
	left:368.48388671875px;
	top:264.96368408203125px;
}
.e58_22 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:52.12187194824219px;
	height:46.01049041748047px;
	position:absolute;
	left:247.2021942138672px;
	top:83.84906768798828px;
}
.e58_23 { 
	opacity:0.10000000149011612;
	width:52.121307373046875px;
	height:27.477821350097656px;
	position:absolute;
	left:247.20620727539062px;
	top:102.38175201416016px;
}
.e58_24 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:48.51139831542969px;
	height:24.817955017089844px;
	position:absolute;
	left:2.1130218505859375px;
	top:2.659881591796875px;
}
.e58_25 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:2.4889068603515625px;
	height:8.131271362304688px;
	position:absolute;
	left:0px;
	top:6.176300048828125px;
}
.e58_26 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:2.166900634765625px;
	height:14.178886413574219px;
	position:absolute;
	left:49.954498291015625px;
	top:0px;
}
.e58_27 { 
	background-color:rgba(251.00000023841858, 190.0000038743019, 190.0000038743019, 1);
	width:37.33491516113281px;
	height:55.84675598144531px;
	position:absolute;
	left:214.0375213623047px;
	top:181.8544921875px;
}
.e58_28 { 
	background-color:rgba(248.0000004172325, 109.00000110268593, 112.000000923872, 1);
	width:25.488906860351562px;
	height:33.81626892089844px;
	position:absolute;
	left:226.64564514160156px;
	top:158.09323120117188px;
}
.e58_29 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:22.629867553710938px;
	height:53.23347473144531px;
	position:absolute;
	left:216.95455932617188px;
	top:182.16525268554688px;
}
.e58_30 { 
	background-color:rgba(251.00000023841858, 190.0000038743019, 190.0000038743019, 1);
	width:23.785690307617188px;
	height:106.43696594238281px;
	position:absolute;
	left:214.57447814941406px;
	top:129.78775024414062px;
}
.e58_31 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:92.51202392578125px;
	height:58.94026184082031px;
	position:absolute;
	left:249.56240844726562px;
	top:175.849609375px;
}
.e58_32 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.20000000298023224;
	width:92.51202392578125px;
	height:58.94026184082031px;
	position:absolute;
	left:249.56240844726562px;
	top:175.849609375px;
}
.e58_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.978240966796875px;
	height:4.9808502197265625px;
	position:absolute;
	left:293.121826171875px;
	top:202.8292999267578px;
}
.e58_34 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:25.76641845703125px;
	height:25.780136108398438px;
	position:absolute;
	left:176.0796661376953px;
	top:253.6092987060547px;
}
.e58_35 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:25.76641845703125px;
	height:25.780136108398438px;
	position:absolute;
	left:176.0796661376953px;
	top:253.6092987060547px;
}
.e58_36 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.125823974609375px;
	position:absolute;
	left:185.87440490722656px;
	top:255.15750122070312px;
}
.e58_37 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.125823974609375px;
	position:absolute;
	left:185.87440490722656px;
	top:252.57992553710938px;
}
.e58_38 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.12579345703125px;
	position:absolute;
	left:185.87440490722656px;
	top:250.00230407714844px;
}
.e58_39 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.1258087158203125px;
	position:absolute;
	left:185.87440490722656px;
	top:247.42471313476562px;
}
.e58_40 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.125823974609375px;
	position:absolute;
	left:185.87440490722656px;
	top:244.8471221923828px;
}
.e58_41 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.125823974609375px;
	position:absolute;
	left:185.87440490722656px;
	top:242.26951599121094px;
}
.e58_42 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.1258087158203125px;
	position:absolute;
	left:185.87440490722656px;
	top:239.69192504882812px;
}
.e58_43 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.123626708984375px;
	height:4.1258087158203125px;
	position:absolute;
	left:188.96517944335938px;
	top:240.72129821777344px;
}
.e58_44 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.1236419677734375px;
	height:4.1258087158203125px;
	position:absolute;
	left:191.0270538330078px;
	top:239.69192504882812px;
}
.e58_45 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.1236419677734375px;
	height:4.1258392333984375px;
	position:absolute;
	left:193.08856201171875px;
	top:238.65835571289062px;
}
.e58_46 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.125823974609375px;
	position:absolute;
	left:185.87440490722656px;
	top:237.1101531982422px;
}
.e58_47 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.125823974609375px;
	position:absolute;
	left:185.87440490722656px;
	top:234.53253173828125px;
}
.e58_48 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.1258087158203125px;
	position:absolute;
	left:185.87440490722656px;
	top:231.95497131347656px;
}
.e58_49 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.12359619140625px;
	height:4.1258087158203125px;
	position:absolute;
	left:185.87440490722656px;
	top:229.37738037109375px;
}
.e58_50 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:17.506790161132812px;
	height:17.516067504882812px;
	position:absolute;
	left:179.187255859375px;
	top:217.5346221923828px;
}
.e58_51 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:10.321548461914062px;
	height:10.326980590820312px;
	position:absolute;
	left:195.15939331054688px;
	top:234.0251922607422px;
}
.e58_52 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.1236419677734375px;
	height:4.1258087158203125px;
	position:absolute;
	left:182.77960205078125px;
	top:240.72129821777344px;
}
.e58_53 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.1236419677734375px;
	height:4.1258087158203125px;
	position:absolute;
	left:180.7177276611328px;
	top:239.69192504882812px;
}
.e58_54 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:4.1236419677734375px;
	height:4.1258392333984375px;
	position:absolute;
	left:178.65582275390625px;
	top:238.65835571289062px;
}
.e58_55 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:10.321517944335938px;
	height:10.326980590820312px;
	position:absolute;
	left:170.38726806640625px;
	top:234.0251922607422px;
}
.e58_56 { 
	background-color:rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
	width:25.76641845703125px;
	height:25.780181884765625px;
	position:absolute;
	left:176.0796661376953px;
	top:255.15750122070312px;
}
.e58_57 { 
	opacity:0.10000000149011612;
	width:17.430389404296875px;
	height:15.38525390625px;
	position:absolute;
	left:179.24681091308594px;
	top:217.5865936279297px;
}
.e58_58 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:0.7052459716796875px;
	height:0.63092041015625px;
	position:absolute;
	left:16.7252197265625px;
	top:7.7645263671875px;
}
.e58_59 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:2.88323974609375px;
	height:1.7183990478515625px;
	position:absolute;
	left:13.630416870117188px;
	top:3.580596923828125px;
}
.e58_60 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:14.571990966796875px;
	height:15.38525390625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_61 { 
	opacity:0.10000000149011612;
	width:10.32147216796875px;
	height:5.698974609375px;
	position:absolute;
	left:195.15042114257812px;
	top:234.01783752441406px;
}
.e58_62 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:5.376556396484375px;
	height:4.694488525390625px;
	position:absolute;
	left:4.944915771484375px;
	top:1.004486083984375px;
}
.e58_63 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:6.471710205078125px;
	height:5.6699066162109375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_64 { 
	opacity:0.10000000149011612;
	width:10.321578979492188px;
	height:5.6989593505859375px;
	position:absolute;
	left:170.39608764648438px;
	top:234.01783752441406px;
}
.e58_65 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:5.376556396484375px;
	height:4.694488525390625px;
	position:absolute;
	left:0px;
	top:1.004486083984375px;
}
.e58_66 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:6.4716949462890625px;
	height:5.6699066162109375px;
	position:absolute;
	left:3.8498077392578125px;
	top:0px;
}
.e58_67 { 
	background-color:rgba(249.00000035762787, 168.0000051856041, 38.0000015348196, 1);
	width:93.7565689086914px;
	height:36.526390075683594px;
	position:absolute;
	left:65.5920181274414px;
	top:74.56776428222656px;
}
.e58_68 { 
	border:9px solid rgba(63.000000044703484, 61.00000016391277, 86.00000247359276, 1);
}
.e58_68 { 
	width:153.91015625px;
	height:36.526390075683594px;
	position:absolute;
	left:65.5920181274414px;
	top:74.56776428222656px;
}
.e58_69 { 
	background-color:rgba(255, 255, 255, 1);
	width:24.07427978515625px;
	height:16.04857635498047px;
	position:absolute;
	left:130.5038299560547px;
	top:84.82652282714844px;
}
.e60_0 { 
	width:1132px;
	height:279px;
	position:absolute;
	left:237px;
	top:848px;
}
.e57_513 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 1);
	width:1132px;
	height:279px;
	position:absolute;
	left:0px;
	top:0px;
}
.e57_517 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:21px;
	position:absolute;
	left:511px;
	top:119px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e57_518 { 
	color:rgba(0, 0, 0, 1);
	width:990px;
	height:224px;
	position:absolute;
	left:243px;
	top:596px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e57_514 { 
	width:160px;
	height:41.05263137817383px;
	position:absolute;
	left:1209px;
	top:1155px;
}
.e57_515 { 
	background-color:rgba(31.000000052154064, 74.0000031888485, 168.0000051856041, 1);
	width:160px;
	height:41.05263137817383px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
}
.e57_516 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:22px;
	position:absolute;
	left:55px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
