<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="/asset/dashboard.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e10_23><div  class="e12_35"></div><div  class="e14_14"></div><span  class="e14_17">Learn With Effectively With Us!</span><span  class="e14_18">Get 30% Off every course on January.</span><div class=e14_25><div  class="e14_23"></div><span  class="e14_24">E-learning</span></div><div class=e38_158><div  class="e14_15"></div><span  class="e14_16">Mr. Learning</span></div><div class=e38_34><div  class="e38_35"></div><div  class="e38_36"></div><div  class="e38_37"></div><div  class="e38_38"></div><div  class="e38_39"></div><div  class="e38_40"></div><div  class="e38_41"></div><div  class="e38_42"></div><div  class="e38_43"></div><div  class="e38_44"></div><div  class="e38_45"></div><div  class="e38_46"></div><div  class="e38_47"></div><div  class="e38_48"></div><div  class="e38_49"></div><div  class="e38_50"></div><div  class="e38_51"></div><div  class="e38_52"></div><div  class="e38_53"></div><div  class="e38_54"></div><div  class="e38_55"></div><div  class="e38_56"></div><div  class="e38_57"></div><div  class="e38_58"></div><div  class="e38_59"></div><div  class="e38_60"></div><div  class="e38_61"></div><div  class="e38_62"></div><div  class="e38_63"></div><div  class="e38_64"></div><div  class="e38_65"></div><div  class="e38_66"></div></div><div class=e38_67><div class=e38_68><div class=e38_69><div  class="e38_70"></div></div></div><div class=e38_71><div class=e38_72><div  class="e38_73"></div></div></div><div class=e38_74><div class=e38_75><div  class="e38_76"></div></div></div><div class=e38_77><div class=e38_78><div  class="e38_79"></div></div></div></div><div class=e38_80><div  class="e38_81"></div><div  class="e38_82"></div></div><div class=e38_83><div class=e38_84><div class=e38_85><div  class="e38_86"></div></div></div></div><div class=e38_87><div class=e38_88><div  class="e38_89"></div><div  class="e38_90"></div><div  class="e38_91"></div><div  class="e38_92"></div><div  class="e38_93"></div><div  class="e38_94"></div><div  class="e38_95"></div><div  class="e38_96"></div><div  class="e38_97"></div><div  class="e38_98"></div><div  class="e38_99"></div><div  class="e38_100"></div><div  class="e38_101"></div><div  class="e38_102"></div><div  class="e38_103"></div><div  class="e38_104"></div><div  class="e38_105"></div><div  class="e38_106"></div><div  class="e38_107"></div><div  class="e38_108"></div></div></div><div  class="e38_109"></div><span  class="e38_110">Aktivitas</span><span  class="e38_111">Daftar Quiz Minggu Ini :</span><div class=e38_112><span  class="e38_113">Kehadiran</span><span  class="e38_114">90%</span></div><div class=e38_115><span  class="e38_116">Ketuntasan</span><span  class="e38_117">100%</span></div><div class=e38_118><span  class="e38_119">Kuiz Minggu Ini</span><span  class="e38_120">5</span></div><div class=e38_121><span  class="e38_122">Mata Pelajaran</span><span  class="e38_123">12</span></div><div  class="e38_124"></div><div  class="e38_125"></div><div  class="e38_126"></div><div  class="e38_127"></div><div  class="e38_128"></div><div  class="e38_129"></div><span  class="e38_130">No.</span><span  class="e38_131">Pelajaran</span><span  class="e38_132">Detail</span><span  class="e38_133">Deadline</span><span  class="e38_134">Status</span><span  class="e38_139">Pilih Kelas</span><div class=e38_154><div  class="e38_135"></div><span  class="e38_140">Beginner</span></div><div class=e38_155><div  class="e38_137"></div><span  class="e38_141">Elementary</span></div><div class=e38_156><div  class="e38_136"></div><span  class="e38_142">Intermediet</span></div><div class=e38_157><div  class="e38_138"></div><span  class="e38_143">Profesional</span></div><span  class="e38_144">Pilih Kelas</span><span  class="e38_145">Pilih Kelas</span><span  class="e38_146">Pilih Kelas</span><span  class="e38_147">Pili Kelas Anda :</span><div class=e38_148><div class=e38_149><div  class="e38_150"></div><div  class="e38_151"></div><div  class="e38_152"></div></div></div><span  class="e38_0">Dasboard</span></div>
          </body>
          </html>