<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="/asset/kelola_materi.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e56_59><div  class="e56_60"></div><div  class="e56_61"></div><span  class="e56_62">Upload Materi Siswa</span><div class=e56_63><div  class="e56_64"></div><span  class="e56_65">E-learning</span></div><div class=e56_66><div  class="e56_67"></div><span  class="e56_68">Mr. Learning</span></div><div class=e56_69><div class=e56_70><div class=e56_71><div  class="e56_72"></div></div></div><div class=e56_73><div class=e56_74><div  class="e56_75"></div></div></div><div class=e56_76><div class=e56_77><div  class="e56_78"></div></div></div><div class=e56_79><div class=e56_80><div  class="e56_81"></div></div></div></div><div class=e56_82><div  class="e56_83"></div><div  class="e56_84"></div></div><div class=e56_85><div class=e56_86><div class=e56_87><div  class="e56_88"></div></div></div></div><div class=e56_89><div class=e56_90><div  class="e56_91"></div><div  class="e56_92"></div><div  class="e56_93"></div><div  class="e56_94"></div><div  class="e56_95"></div><div  class="e56_96"></div><div  class="e56_97"></div><div  class="e56_98"></div><div  class="e56_99"></div><div  class="e56_100"></div><div  class="e56_101"></div><div  class="e56_102"></div><div  class="e56_103"></div><div  class="e56_104"></div><div  class="e56_105"></div><div  class="e56_106"></div><div  class="e56_107"></div><div  class="e56_108"></div><div  class="e56_109"></div><div  class="e56_110"></div></div></div><div class=e56_111><div class=e56_112><div  class="e56_113"></div><div  class="e56_114"></div><div  class="e56_115"></div></div></div><div class=e56_227><div  class="e56_228"></div><div  class="e56_229"></div><div  class="e56_230"></div><div  class="e56_231"></div><div  class="e56_232"></div><div  class="e56_233"></div><div  class="e56_234"></div><div  class="e56_235"></div><div  class="e56_236"></div><div  class="e56_237"></div><div  class="e56_238"></div><div  class="e56_239"></div><div  class="e56_240"></div><div  class="e56_241"></div><div  class="e56_242"></div><div  class="e56_243"></div><div  class="e56_244"></div><div  class="e56_245"></div><div  class="e56_246"></div><div  class="e56_247"></div><div  class="e56_248"></div><div  class="e56_249"></div><div  class="e56_250"></div><div  class="e56_251"></div><div  class="e56_252"></div><div  class="e56_253"></div><div  class="e56_254"></div><div  class="e56_255"></div><div  class="e56_256"></div><div  class="e56_257"></div><div  class="e56_258"></div></div><span  class="e56_259">Materi 1</span><div  class="e56_260"></div><div  class="e56_261"></div><div  class="e56_262"></div><div class=e56_263><div  class="e56_264"></div><span  class="e56_265">Slesai</span></div><span  class="e56_266">+</span><div class=e56_267><div  class="e56_268"></div><span  class="e56_269">Upload FIle</span></div><div class=e56_270><div  class="e56_271"></div><span  class="e56_272">Upload Vidio</span></div></div>
          </body>
          </html>