<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="/asset/pilih_materi.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e57_309><div  class="e57_310"></div><div  class="e57_311"></div><span  class="e57_312">Pilih Materi Yang Belum Di Kerjakan</span><div class=e57_313><div  class="e57_314"></div><span  class="e57_315">E-learning</span></div><div class=e57_316><div  class="e57_317"></div><span  class="e57_318">Mr. Learning</span></div><div class=e57_319><div class=e57_320><div class=e57_321><div  class="e57_322"></div></div></div><div class=e57_323><div class=e57_324><div  class="e57_325"></div></div></div><div class=e57_326><div class=e57_327><div  class="e57_328"></div></div></div><div class=e57_329><div class=e57_330><div  class="e57_331"></div></div></div></div><div class=e57_332><div  class="e57_333"></div><div  class="e57_334"></div></div><div class=e57_335><div class=e57_336><div class=e57_337><div  class="e57_338"></div></div></div></div><div class=e57_339><div class=e57_340><div  class="e57_341"></div><div  class="e57_342"></div><div  class="e57_343"></div><div  class="e57_344"></div><div  class="e57_345"></div><div  class="e57_346"></div><div  class="e57_347"></div><div  class="e57_348"></div><div  class="e57_349"></div><div  class="e57_350"></div><div  class="e57_351"></div><div  class="e57_352"></div><div  class="e57_353"></div><div  class="e57_354"></div><div  class="e57_355"></div><div  class="e57_356"></div><div  class="e57_357"></div><div  class="e57_358"></div><div  class="e57_359"></div><div  class="e57_360"></div></div></div><div class=e57_361><div class=e57_362><div  class="e57_363"></div><div  class="e57_364"></div><div  class="e57_365"></div></div></div><span  class="e57_412">Materi 1</span><span  class="e57_413">Materi 2</span><div  class="e57_414"></div><div  class="e57_415"></div><div  class="e57_416"></div><div  class="e57_417"></div><div class=e57_520><div  class="e57_521"></div><div  class="e57_522"></div><div  class="e57_523"></div><div  class="e57_524"></div><div  class="e57_525"></div><div  class="e57_526"></div><div  class="e57_527"></div><div  class="e57_528"></div><div  class="e57_529"></div><div  class="e57_530"></div><div  class="e57_531"></div><div  class="e57_532"></div><div  class="e57_533"></div><div  class="e57_534"></div><div  class="e57_535"></div><div  class="e57_536"></div><div  class="e57_537"></div><div  class="e57_538"></div><div  class="e57_539"></div><div  class="e57_540"></div><div  class="e57_541"></div><div  class="e57_542"></div><div  class="e57_543"></div><div  class="e57_544"></div><div  class="e57_545"></div></div></div>
          </body>
          </html>