<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="/asset/register.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e53_0><div  class="e53_1"></div><div class=e56_8><span  class="e53_4">Register</span><span  class="e53_12">Manage All your lottery efficiently</span><span  class="e53_14">Let’s get you all set up so you can verify your personal account and begin setting up your profile</span><div  class="e53_5"></div><div  class="e53_16"></div><div  class="e53_18"></div><div  class="e53_20"></div><div class=e56_12><span  class="e56_10">Create Account</span></div><span  class="e53_15">First Name</span><span  class="e53_17">Last Name</span><span  class="e53_19">Email</span><span  class="e53_21">Password</span></div></div>
          </body>
          </html>