<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="/asset/upload_materi.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e57_418><div  class="e57_419"></div><div  class="e57_420"></div><span  class="e57_421">Upload Materi Jika Sudah Mengerjakan :)</span><div class=e57_422><div  class="e57_423"></div><span  class="e57_424">E-learning</span></div><div class=e57_425><div  class="e57_426"></div><span  class="e57_427">Mr. Learning</span></div><div class=e57_428><div class=e57_429><div class=e57_430><div  class="e57_431"></div></div></div><div class=e57_432><div class=e57_433><div  class="e57_434"></div></div></div><div class=e57_435><div class=e57_436><div  class="e57_437"></div></div></div><div class=e57_438><div class=e57_439><div  class="e57_440"></div></div></div></div><div class=e57_441><div  class="e57_442"></div><div  class="e57_443"></div></div><div class=e57_444><div class=e57_445><div class=e57_446><div  class="e57_447"></div></div></div></div><div class=e57_448><div class=e57_449><div  class="e57_450"></div><div  class="e57_451"></div><div  class="e57_452"></div><div  class="e57_453"></div><div  class="e57_454"></div><div  class="e57_455"></div><div  class="e57_456"></div><div  class="e57_457"></div><div  class="e57_458"></div><div  class="e57_459"></div><div  class="e57_460"></div><div  class="e57_461"></div><div  class="e57_462"></div><div  class="e57_463"></div><div  class="e57_464"></div><div  class="e57_465"></div><div  class="e57_466"></div><div  class="e57_467"></div><div  class="e57_468"></div><div  class="e57_469"></div></div></div><div class=e57_470><div class=e57_471><div  class="e57_472"></div><div  class="e57_473"></div><div  class="e57_474"></div></div></div><div class=e58_0><div  class="e58_1"></div><div class=e58_2><div  class="e58_3"></div></div><div class=e58_4><div  class="e58_5"></div></div><div  class="e58_6"></div><div  class="e58_7"></div><div  class="e58_8"></div><div  class="e58_9"></div><div  class="e58_10"></div><div  class="e58_11"></div><div  class="e58_12"></div><div  class="e58_13"></div><div  class="e58_14"></div><div  class="e58_15"></div><div  class="e58_16"></div><div  class="e58_17"></div><div  class="e58_18"></div><div  class="e58_19"></div><div  class="e58_20"></div><div  class="e58_21"></div><div  class="e58_22"></div><div class=e58_23><div  class="e58_24"></div><div  class="e58_25"></div><div  class="e58_26"></div></div><div  class="e58_27"></div><div  class="e58_28"></div><div  class="e58_29"></div><div  class="e58_30"></div><div  class="e58_31"></div><div  class="e58_32"></div><div  class="e58_33"></div><div  class="e58_34"></div><div  class="e58_35"></div><div  class="e58_36"></div><div  class="e58_37"></div><div  class="e58_38"></div><div  class="e58_39"></div><div  class="e58_40"></div><div  class="e58_41"></div><div  class="e58_42"></div><div  class="e58_43"></div><div  class="e58_44"></div><div  class="e58_45"></div><div  class="e58_46"></div><div  class="e58_47"></div><div  class="e58_48"></div><div  class="e58_49"></div><div  class="e58_50"></div><div  class="e58_51"></div><div  class="e58_52"></div><div  class="e58_53"></div><div  class="e58_54"></div><div  class="e58_55"></div><div  class="e58_56"></div><div class=e58_57><div  class="e58_58"></div><div  class="e58_59"></div><div  class="e58_60"></div></div><div class=e58_61><div  class="e58_62"></div><div  class="e58_63"></div></div><div class=e58_64><div  class="e58_65"></div><div  class="e58_66"></div></div><div  class="e58_67"></div><div  class="e58_68"></div><div  class="e58_69"></div></div><div class=e60_0><div  class="e57_513"></div><span  class="e57_517">Upload Tugas</span></div><span  class="e57_518">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi eu consequat, aliquam pellentesque malesuada fames. Viverra neque, in ut nulla suspendisse tortor, luctus accumsan. Malesuada arcu et, feugiat dis aliquet. Tortor et consequat tellus, augue.</span><div class=e57_514><div  class="e57_515"></div><span  class="e57_516">Kirim</span></div></div>
          </body>
          </html>